$orange: #ff8153;
$dark-orange: #f55b23;
$sea-green: #4ca64c;
$spring-green: #0cd15e;
$dark-slate: #263a44;
$dark-slate-gray: #041e25;
$dark-slate-grey: #00684a;
$dark: hsl(192, 100%, 7%);
$dark-turquoise: #00c6b5;
$mid-night-blue: #10375c;
